.tagContainer {
  display: flex;
  gap: 0.5rem;
  margin: 0.6rem 0;

  div {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--background-color-accent);
    border-radius: 0.2rem;

    &:hover {
      background-color: var(--background-color-dark);
      color: var(--font-color-light);
      transform: scale(0.95);
    }
  }
}
