---
import styles from "./SecondMessage.module.scss";
---

<div class={styles.message}>
  <p>
    <strong class={styles.englishWord}>IT</strong>に出会って
    <strong>夢中</strong>になったあの日から
  </p>
  <p class={styles.secondSentence}>
    <strong>エンジニア</strong>を目指して歩み続ける
  </p>
</div>
