---
import Contact from "@/components/contact/Contact.astro";
import Footer from "@/components/footer/Footer.astro";
import Header from "@/components/header/Header.astro";
import Layout from "@/layouts/Layout.astro";
import DefaultMetadata from "@/utils/DefaultMetadata";
import styles from "./index.module.scss";
---

<Layout metadata={DefaultMetadata}>
  <Header navigate="contact" />
  <main class={styles.contactBox}>
    <Contact />
  </main>
  <Footer />
</Layout>
