---
import styles from "./Contact.module.scss";
import LinkCards from "./link_cards/LinkCards.astro";
---

<h1 class={styles.title}>Contact&nbsp;</h1>
<p class={styles.message}>
  お問い合わせの際は下記のメールアドレスか X（旧 Twitter）のDMをご利用ください
</p>
<div class={styles.mail}>
  <p>Email</p>
  <p>seikenshibata@gmail.com</p>
</div>
<h1 class={styles.title}>Links</h1>
<LinkCards />
