---
import type { Metadata } from "@/utils/Metadata";
import Head from "./Head.astro";
import "@/styles/global.scss";
interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<Head metadata={metadata} />
	<body>
			<slot />
	</body>
</html>
