---
import "@/styles/global.scss";
import type Metadata from "@/types/Metadata";
import Head from "./Head.astro";

type Props = {
  metadata: Metadata;
};

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <Head metadata={metadata} />
  <body>
    <slot />
  </body><script is:inline>
    // localStorageにデータがあるときはそちらを適用
    const colorMode = window.localStorage.getItem("color-mode");

    if (colorMode === "light" || colorMode === "dark") {
      document.body.setAttribute("color-mode", colorMode);
    }
  </script>
</html>
